<h1>Homepage</h1>

<%= link_to "Add new recipe", new_recipe_path %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>

<table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Budget</td>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |r| %>
      <tr>
        <td><%= r.title%></td>
        <td><%= r.money%></td>
      </tr>
      <% end %>
    </tbody>
</table>
